body{
	background-color: lightgray;
	font-family: arial;
	padding-left: 20px;

}

h1{
	text-align: center;
	color: violet;

}

.mePic{
	float: center;
	margin-left: 200px;
	margin-right: 200px;
	position: center;

}